*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con-flex-con{
    display: flex;
    width: 70%;
    /* background-color: red; */
    margin: auto;
    height: 100%;
}
.contact-container{
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}
.contact-container h1{
    padding: 1rem 0rem;
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-container h2{
    color: #fff;
    padding: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact-container p{
    padding: .5rem;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-div2 img{
    width: 100%;
}
.contact-div2{
    /* background-color: blue; */
}